@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,900;1,100;1,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,900;1,100;1,400;1,900&display=swap');
body{
    background: linear-gradient(237deg, rgba(76,151,215,1) 0%, rgba(86,86,214,1) 41%, rgba(67,8,161,1) 100%);
}

div{
    width: 1400px;
    height: 900px;
    background: #ffffff;
    margin: 3% 5% 3% 5%;

}
#oneDiv{
    width: 600px;
    height: 898px;
    background: #d5d3d1;
    position: absolute;
    left: 0.35%;
    bottom: 0.1%;
    top: 0.01%;
}
img{
    width: 600px;
    height: 899px;
}
#onePre{
    transform: translate(700px,160px);
    font-family:Marker Felt, fantasy;
    font-weight: 500;
    font-size: 40px;
}
#twoPre{
    transform: translate(700px,130px);
    font-family: 'SemiBold 600 Italic', sens-serif;
    font-weight: 1;
    font-size: 25px;
    color: #989898;
}
#nameInput{
    transform: translate(700px,130px);
    font-size: 20px;
    border-radius: 10px;
    color: rgba(213, 213, 213, 0.76);
    padding-right: 200px;
    padding-bottom: 12px;
    padding-top: 12px;
    text-align: left ;
    border:4px solid rgba(213, 213, 213, 0.76);
}
#nameInput:focus{
    color: rgba(162, 120, 243, 0.87);
    border: 3px solid rgba(162, 120, 243, 0.87);
    box-shadow: 1px 4px 4px 0 rgb(143, 107, 214);

}

#emailInput{
    transform: translate(244px,270px);
    font-size: 20px;
    color:rgba(213, 213, 213, 0.76);
    border-radius: 10px;
    padding-right: 200px;
    padding-bottom: 12px;
    padding-top: 12px;
    text-align: left ;
    border:4px solid rgba(213, 213, 213, 0.76);
}
#emailInput:focus{
    color: rgba(162, 120, 243, 0.87);
    border: 3px solid rgba(162, 120, 243, 0.87);
    box-shadow: 1px 4px 4px 0 rgb(143, 107, 214);
}

#passwordInput{
    transform: translate(-211px,410px);
    font-size: 20px;
    color:rgba(213, 213, 213, 0.76);
    border-radius: 10px;
    padding-right: 10px;
    padding-bottom: 12px;
    padding-top: 12px;
    text-align: left ;
    border:4px solid rgba(213, 213, 213, 0.76);
}
#passwordInput:focus{
    color: rgba(162, 120, 243, 0.87);
    border: 3px solid rgba(162, 120, 243, 0.87);
    box-shadow: 1px 4px 4px 0 rgb(143, 107, 214);
}
#oneP{
    transform: translate(704px,148px);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
#twoP{
    transform: translate(710px,168px);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
#threeP{
    transform: translate(713px,265px);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
#buttonId{
    transform: translate(710px,250px);
    font-size: 20px;
    border-radius: 50px;
    padding: 15px 70px;
    font-family:font-weight 600;
    background: rgba(106, 56, 206, 0.89);
    color: #ffffff;
    border: none;
}
#buttonId2{
    transform: translate(1000px,-405px);
    font-size: 15px;
    border-radius: 30px;
    background: #ffffff;
    color: #989898;
    padding: 5px 20px;
    border:4px solid rgba(213, 213, 213, 0.76);
}
#textID{
    transform: translate(970px,-300px);
    font-size: 20px;
    color: #989898;
}
#textID2{
    transform: translate(700px,420px);
    font-size: 20px;
    color: #989898;
}
#facebookLogoId{
    transform:translate(805px,276px);
    width: 30px;
    height: 30px;

}
#inLogoId{
    transform:translate(860px,204px);
    width: 30px;
    height: 30px;

}
#GooglLogoId{
    transform:translate(915px,132px);
    width: 30px;
    height: 30px;

}

