@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    background: linear-gradient(237deg, rgba(76,151,215,1) 0%, rgba(86,86,214,1) 41%, rgba(67,8,161,1) 100%);
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.mainBox {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    background: #F8F6FC;
}

.mainForm {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background: #fff;
    height: 100%;
    width: 60%;
    box-sizing: border-box;
    padding: 3%;
    align-items: center;
}

.loginBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
    align-self: end;
}

.loginBox span {
    font-weight: 500;
    color: #777c99;
    font-size: 16px;
}

.loginBox button {
    width: 90px;
    height: 35px;
    background: transparent;
    border: 3px solid #dcdfe7;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 40%;
}

form {
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    width: 80%;
}

form h1 {
    margin: 0;
}

form h3 {
    margin: 0;
}

.inputBox {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3%;
    position: relative;
}

.inputBox input {
    height: 60%;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    padding: 1%;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid #dcdfe7;
    outline: none;
    transition: all 0.2s ease;
}
.inputBox input::placeholder {
    color: #dcdfe7;
}

.inputBox input:focus, .inputBox input:valid {
    border-color: #a279ff;
}

.inputBox i {
    position: absolute;
    right: 2%;
    top: 60%;
    color: #dcdfe7;
    pointer-events: none;
}

#oneP{
    font-size: 20px;
}
#twoP{
    font-size: 20px;
}
#threeP{
    font-size: 20px;
}

.submitButton{
    height: 50px;
    width: 30%;
    font-size: 20px;
    border-radius: 50px;
    background: rgba(106, 56, 206, 0.89);
    color: #ffffff;
    border: 2px solid transparent;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    transition: all 0.2s ease;
    margin-top: 4%;
}

.submitButton:hover {
    background: transparent;
    border-color: rgba(106, 56, 206, 0.89);
    color: rgba(106, 56, 206, 0.89);
}

.socialBox {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    margin-top: 5%;
}

.socialBox a{
    text-decoration: none;
    color: black;
    border: 1px solid #dcdfe7;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    scale: 1.2;
}